  nginx:
    image: nginx:latest
    container_name: Challange-nginx
    restart: unless-stopped
    ports:
      - 80:80
    volumes:
      - /home/weidech/html:/usr/share/nginx/html:ro
    
  prometheus:
    image: prom/prometheus:latest
    container_name: monitoring_prometheus
    restart: unless-stopped
    volumes:
      - ./data/prometheus/config:/etc/prometheus/
      - ./data/prometheus/data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    expose:
      - 9090
    ports:
      - 9090:9090
    links:
      - cadvisor:cadvisor
      - node-exporter:node-exporter

  node-exporter:
    image: prom/node-exporter:latest
    container_name: monitoring_node_exporter
    restart: unless-stopped
    expose:
      - 9100

  cadvisor:
    image: google/cadvisor:latest
    container_name: monitoring_cadvisor
    restart: unless-stopped
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    expose:
      - 8080
  
  grafana:
    image: grafana/grafana:latest
    container_name: monitoring_grafana
    restart: unless-stopped
    links:
      - prometheus:prometheus
    volumes:
      - /home/weidech/data/grafana:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=*****
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_SERVER_DOMAIN=192.168.1.42
      - GF_SMTP_ENABLED=true
      - GF_SMTP_HOST=192.168.0.31:25
      - GF_SMTP_USER=*****
      - GF_SMTP_PASSWORD=****
      - GF_SMTP_FROM_ADDRESS=Challange@weid-it.de
    expose:
      - 3000
    ports:
      - 3000:3000
      
  mongo:
    image: mongo:4.2
    container_name: Logging_mongodb
    
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:7.10.2
    container_name: Logging_elasticsearch
    environment:
      - http.host=0.0.0.0
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
	
  graylog:
    container_name: Logging_graylog
    image: graylog/graylog:4.2
    links:
      - mongo
      - elasticsearch
    ports:
      - 9000:9001
      - 12201:12201
      - 1514:1514
    environment:
      - GRAYLOG_HTTP_EXTERNAL_URI=http://127.0.0.1:9000/
      - GRAYLOG_PASSWORD_SECRET=kIBA7KoH5M6sfoBotwsIf0ZxR9csnq3ZbfYTUdAcW1EgxY91OUVwLStRl3I9esMs0T3e1Ln8zCabDnEctAYOcci9vvOdb90R
      - GRAYLOG_ROOT_PASSWORD_SHA2=984a0df95dcfa1b40cda78b3f7e9686bcc7806cf5e5f1542e15d5a908c7f2dcf
